html {
  background-image: linear-gradient(to bottom right, #108ce42f, #3a4750);
}
.heading {
  font-family: "Staatliches", cursive;
  color: linear-gradient(to bottom right, #108ce42f, #3a4750);
  transition: color 2s ease-in-out;
}
.heading:hover {
  color: rgba(8, 7, 7, 0.694);
  transition: color 2s ease-in-out;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: 160px;
  padding: 20px;
  background-image: linear-gradient(to bottom right, #108ce42f, #3a4750);
  border-radius: 20px;
}

input {
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.block {
  font-family: "Oxygen", sans-serif;
  font-size: large;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-image: linear-gradient(to bottom right, #108ce42f, #3a4750);
  margin: 50px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 18px rgba(34, 35, 33, 0.551);
  transition: box-shadow 2s ease-in-out;
}

button {
  border-radius: 5px;
  border: none;
  margin: 5px;
  width: 50%;
}
button:hover {
  background-image: linear-gradient(to bottom right, #108ce42f, #3a4750);
  opacity: 0.7;
  color: #eeeeee;
  transition: background-image, opacity 1s ease-in-out;
}

@media (max-width: 600px) {
  .container {
    margin-bottom: 220px;
    padding: 0;
  }
  .block {
    width: 400px;
    font-size: small;
  }
  input {
    width: 80%;
  }
}
