.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
input {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  width: 300px;
  background-color: lightcoral;
  margin: 20px;

  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 18px rgb(34, 35, 33);
  transition: box-shadow 2s ease-in-out;
}
button {
  border-radius: 5px;
  border: black 2px solid;
  margin: 5px;
  width: 50%;
}
button:hover {
  background-color: rgb(171, 150, 191);
  opacity: 0.7;
  transition: background-color, opacity 0.5s ease-in-out;
}
